{% extends 'base.html' %}

{% block content %}

<div class="container mt-4">
    <h1 class="text-center mb-4">Sign Up</h1>

    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <p class="text-danger">{{ error_message }}</p>

                    <form method="POST" action="{% url 'signup' %}">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit" class="btn btn-primary btn-block">Sign Up</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    body {
        background-color:  rgb(21, 101, 206);
    }
    
    h1 {
        color: white;
        font-size: 2rem;
        font-weight: bold;
    }
    
    .container {
        max-width: 600px;
    }
    
    .card {
        background-color: rgb(173, 218, 236);
        border: none;
        border-radius: 0;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.589);
    }
    
    .card-body {
        padding: 2rem;
    }
    
    .text-danger {
        color: rgb(21, 101, 206);
        margin-bottom: 1rem;
    }
    
    .btn-primary {
        background-color: rgb(21, 101, 206);
        border-color: rgb(21, 101, 206);
        font-weight: bold;
    }
    
    .btn-primary:hover {
        background-color: rgb(21, 101, 206);
        border-color: rgb(21, 101, 206);
        opacity: 0.8;
    }
    
    @media (max-width: 576px) {
        h1 {
            font-size: 1.5rem;
        }
        
        .card-body {
            padding: 1rem;
        }
    }
</style>

{% endblock %}
