{% extends 'base.html' %}

{% block content %}
  <div class="container-fluid">
    <div class="jumbotron jumbotron-split text-center">
      <h1 class="display-4">About ClimaCast</h1>
      <hr class="my-4">
      <p class="lead">Where weather just got a little cooler!</p>
    </div>
    <div class="content-split">
      <div class="container">
        <p> ClimaCast privides daily weather forecast</p>.</p>
      </div>
    </div>
    <footer class="text-center">
      <p class="text-muted">All Rights Reserved, &copy; 2023 ClimaCast</p>
    </footer>
  </div>

  <style>
    .jumbotron-split {
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      padding: 100px 0;
      margin-bottom: 0;
      color: #fff; 
    }
  
    .content-split {
      background-color: #f8f9fa;
      padding: 50px 0;
    }

    body {
            background-color:  rgb(21, 101, 206);
        }
  </style>
{% endblock %}

