{% extends 'base.html' %}

{% block content %}
    <h1>Welcome to ClimaCast!</h1>
    <h2>weather just got cooler</h2>
    <form method="POST" action="{% url 'home' %}">
        {% csrf_token %}
        <label for="location">Enter a city:</label>
        <input type="text" name="location" id="location" required>
        <button type="submit">Get Weather</button>
      </form>
      <h1>Weather Forecast for {{ weather_data.location }}</h1>
      <table>
        <thead>
          <tr>
            <P>Date: {{weather_data.date}}</P>
            <p>Location: {{ weather_data.location }}</p>
            <p>Description: {{ weather_data.description }}</p>
            <p>Temperature: {{ weather_data.temperature }}&deg;C</p>
            <p>Humidity: {{ weather_data.humidity }}%</p>
            <p>Wind Speed: {{ weather_data.wind_speed }} m/s</p>
        </tr>
        </thead>
        <tbody>
    
          {% for forecast in weather_data.forecasts %}
            <tr>
              <td>date: {{ forecast.date }}</td>
              <td>Description: {{ forecast.description }}</td>
              <td>Temperature: {{ forecast.temperature }}</td>
              <td>Humiidity: {{ forecast.humidity }}</td>
              <td>Wind Speed:{{ forecast.wind_speed }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
      <!-- update not working  -->
      <form method="POST">
        {% csrf_token %}
        <label for="location">Update your location:</label>
        <input type="text" name="location" id="location" value="{{ request.user.location.location }}" required>
        <button type="submit">Update</button>
    </form>
    
      <!-- delete added working don not change -->
      <form>
        {% csrf_token %}
        <button type="submit">Delete Location</button>
    </form>
{% endblock %}

